/* index.php */
body {
    background-color: #cccccc;
}

div.accountloginForm {
    text-align: center;
    margin-top: 100px;
}

h2.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}


input {
    width: 200px;
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 10px;
    font-size: 12px;
}